{% extends "base.html" %}

{% block content %}

    <div class = "font-weight-bold display-5">API Documentation</div>

    <p class = "mb-0 mt-2">JSON of all instruments and their info</p>
    <a href=https://music-shack-demo.herokuapp.com/api/instruments target=_blank>https://music-shack-demo.herokuapp.com/api/instruments</a>

    <p class = "mb-0 mt-2">JSON of a specific instrument</p>
    <a href=https://music-shack-demo.herokuapp.com/api/instruments/Violin target=_blank>https://music-shack-demo.herokuapp.com/api/instruments/Violin</a>

    <p class = "mb-0 mt-2">JSON of a random instrument</p>
    <a href=https://music-shack-demo.herokuapp.com/api/instruments/random target=_blank>https://music-shack-demo.herokuapp.com/api/instruments/random</a>

    <!-- <p class = "mb-0 mt-2">Sample client page</p> -->
    <!-- <a href=http://knuth.luther.edu/~phonda01/client/ target=_blank>http://knuth.luther.edu/~phonda01/client/</a> -->

{% endblock %}